/node_modules
/public/hot
/public/uploads
/public/csv
/public/xml
/public/tmp
/public/storage
/storage/*.key
/vendor
/packages
.history/
.phpintel/
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.orig
.vscode/
.htaccess
/config/cdn_setup.php
/public/.htaccess
/storage/laravel-excel
/storage/*.index
.DS_Store
docker-compose.yml
docker-compose-sail.yml
storage/*.index*
*.unison*
/public/js/app.js
/public/js/argon_vendors.js
/public/js/new_cart_app.js
/public/js/new_cart_app.js.LICENSE.txt
/public/js/panel_app.js
/public/new_cart/css/new_cart.css
/public/theme/assets/css/style_ver.css
/public/theme/assets/css/style_ver.css.map
/public/theme/assets/css/style_ver_new.css
/public/theme/assets/css/bootstrap5-grid.css
/public/theme/assets/css/bootstrap.css
/public/theme/assets/css/editor.css
/public/js/blog.js
/public/theme/assets/js/front.js
/public/theme/assets/js/front.js.map
/public/assets/vendor/MediaManager/*
/public/mix-manifest.json
supervisord.conf
/app/overrides/dompdf
composer.phar
public/*.tar.gz
uploads
public/FAQs.xlsx
public/Testimonials.xlsx
public/certificates.zip
/public/exam-questions.xlsx
/public/cert
/public/certificates_folders
/public/import
big-elearning_access_buy.csv
big-elearning_access.csv
users_masterclass_big_elearning_no_subsctription_expired_access_completed.csv
storage

public/js/blog.js.LICENSE.txt
public/js/app.js.LICENSE.txt
storage/logs/laravel.log

storage/app/version-commit.txt

/resources/react/node_modules

/.idea
/.docksal
*.sql
