/node_modules
/public/hot
/public/uploads
/public/csv
/public/tmp
/public/storage
/storage/*.key
/vendor
/packages
.history/
.phpintel/
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.orig
.vscode/
.htaccess
/config/cdn_setup.php
/public/.htaccess
/storage/laravel-excel
/storage/*.index
.DS_Store
docker-compose.yml
docker-compose-sail.yml
storage/*.index*
*.unison*
/public/js/app.js
/public/theme/assets/css/style_ver.css
/public/theme/assets/css/style_ver.css.map
/public/theme/assets/css/style_ver_new.css
/public/theme/assets/css/bootstrap5-grid.css
/public/js/blog.js
/public/new_cart/version/style_ver.css
/public/theme/assets/js/front.js
/public/theme/assets/js/front.js.map
/public/assets/vendor/MediaManager/*
/public/mix-manifest.json
supervisord.conf
/app/overrides/dompdf
composer.phar
public/*.tar.gz
uploads
public/FAQs.xlsx
public/Testimonials.xlsx
