/node_modules
/public/hot
/public/uploads
/public/csv
/public/tmp
/public/storage
/storage/*.key
/vendor
/packages
.history/
.phpintel/
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.orig
.vscode/
.htaccess
/config/cdn_setup.php
/public/.htaccess
/storage/laravel-excel
/storage/*.index
.DS_Store
docker-compose.yml
docker-compose-sail.yml
storage/*.index*
