.user-panel>.info {

  padding: 10px 0px !important;

  position: unset !important;

  font-size: 25px !important;

}

img.account-thumb {
  /* display: inline; */
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.ib-card-body {
    margin-bottom: 2rem;
}

#examPassword{
    margin-bottom: 1rem;
}

.btn {
  cursor: pointer;
  border: none;
  line-height: 1;
  display: inline-block;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  box-shadow: 9px 8px 5px 2.28px rgba(76, 76, 76, 0.11);
  text-decoration: none;
  transition: 300ms all ease;

}

.user-panel>.info>a {

  font-size: 15px !important;

}

.border-bot {
  border-bottom: 1px solid grey;
}

.border-bot .chart{
    margin-bottom: 3rem;
}
.border-bot .success-fail-text {
  /* margin-top: 50px; */
  margin-bottom: 3rem;
}

.completed {

  font-weight: bold;

  font-size: 15px;

  color: green;

  margin: 10px 0px 0px 0px;
}

.name {

  font-size: 20px;

  font-weight: bold;

  margin: 0;
}

.answer-block {

  display: none;

}

.card-header {
  background-color: white !important;
  /* display: inline-flex; */
}

.ib_user_panel {

  text-align: center;

  height: 175px;

  background-color: #042538;

  padding-top: 45px !important;



}

div#chartContainer:after {
  background: white;
  content: '';
  position: absolute;
  top: 97%;
  height: 11px;
  width:100%;
}

#hide-results {
  display: none;
}

.action-wrapper {

  margin: 40px 0;
}

.action button {

  width: 140px;

  height: 40px;

  color: white;

  background: #5454ff;
}

#answers {
  display: none;
}

.canvasjs-chart-tooltip {
  pointer-events: none;
}

#score {
  position: absolute;
  top: 160px;
  left: 255px;
  font-size: 25px;
}

.exam-page {

  background: #d2d6de;

}

.canvasjs-chart-credit {
  display: none;
}

.col-md-12 .form-check {
  width: 100%;
  margin-bottom: 15px;
}

.disable-select {

  -webkit-touch-callout: none;
  /* iOS Safari */

  -webkit-user-select: none;
  /* Chrome/Safari/Opera */

  -khtml-user-select: none;
  /* Konqueror */

  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* Internet Explorer/Edge */

  user-select: none;
  /* Non-prefixed version, currently supported by any browser but < IE9 */

}





/*Exam Start Question Palete

ul{margin-top:0;margin-bottom:10px;}

ul{padding:0;list-style-type:none;margin-top:0;margin-bottom:0px;}

ul{padding:0;list-style-type:none;margin-top:0;margin-bottom:0px;}
*/

.question-palette {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 -4px;
}

.question-palette li {
  display: inline-block;
  margin: 0 4px 10px;
  box-shadow: 0px 0px 2px 0.00px rgba(0, 0, 0, 0.2);
}

li.palette span {
  float: left;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #656f7d;
  color: #bbb;
  font-size: 14px;
  cursor: pointer;
}

li.not-visited span {
  background-color: #656f7d;
}

#hover-palette-expand p, #hover-palette-expand-arrow p{
    margin-bottom: unset;
}
#hover-palette-expand{
    background-color: #a3afbf;
    width: fit-content;
    padding: 0 15px;
    border-radius: 6px;
    color: white;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-20%, 50%);
    display: none;

}

#hover-palette-expand-arrow{
    background-color: #a3afbf;
    width: fit-content;
    padding: 0 15px;
    border-radius: 6px;
    color: white;

    position: absolute;
    top: -0.5rem;
    left: 99%;
    display: none;
}



/*Exam Start Summary

ul{margin-top:0;margin-bottom:10px;}

ul{padding:0;list-style-type:none;margin-top:0;margin-bottom:0px;}

ul{padding:0;list-style-type:none;margin-top:0;margin-bottom:0px;}
*/

li.palette span {
  float: left;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #656f7d;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

li.answered span {
  background-color: #97d881;
}

li.marked span {
  background-color: #ffa500;
}

li.not-answered span {
  /* color: #000000; */

  background-color: #a6b1bf;
}
li.not-answered span:hover{
    background-color: #656f7d;
}

li.not-visited span {
  background-color: #a3afbf;
}

ul.legends {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.legends li {
  float: left;
  width: 50%;
  line-height: 40px;
  margin: 0 0 10px;
}

ul.legends li span {
  margin: 0 10px 0 0;
}

.btn.hide {
  display: none;
}

.hide {
  display: none;
}



/*Loading*/

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

.overlay>.fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}

.countdown-styled {
  text-align: center;
  font-size: 40px;
}



p.result_answer {
  /* margin: 18px 0px 10px 32px; */
  /* font-weight: bold;
  font-size: large; */
}

#answers .desc-answer{
    font-weight: bold;
    font-size: large;
}

#answers .desc-question{
    margin-bottom: 0.9rem;
}

#exam-app{
    margin-top: 13rem;
}





.inner-content .ib-exam-inner {
  margin-bottom: 50px;
  /*padding-left: 45px; padding-right: 45px;*/
}



.ib-exam-inner input[type="checkbox"] {

  opacity: 1;

  width: 16px;

  position: relative;

  height: 16px;

  pointer-events: all;

  z-index: auto;

  float: left;

}

.ib-exam-inner input[type=radio] {

  opacity: 1;

  width: 15px;

  position: relative;

  height: 15px;

  pointer-events: all;

  z-index: auto;

  float: left;

}

.ib-back button {
  margin-top: 0;
}

.ib-back a {
  padding: 0px !important;
}



.ib-select-height .btn-group.bootstrap-select.form-control .btn-default {

  height: auto;

  line-height: 20px !important;

}

.ib-select-height .bootstrap-select {

  margin-top: 0;

}

.btn.btn-ibgray {

  background-color: gray !important;

  color: #fff !important;

}

/* The container */
.checkradio {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.checkradio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkradio .checkmark {
  position: absolute;

  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  top: 5%;
  transform: translateY(10%);
  border: 1px solid;
}

/* On mouse-over, add a grey background color */
.checkradio:hover input~.checkmark {
  background-color: black;
}

/* When the radio button is checked, add a blue background */
.checkradio input:checked~.checkmark {
  background-color: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkradio input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkradio .checkmark:after {
  top: 2px;
  left: 2px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: black;
}

/* The container */
.checklabel {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checklabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checklabel .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checklabel:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checklabel input:checked~.checkmark {
  background-color: #2196F3;
}


/* Show the checkmark when checked */
.checklabel input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checklabel .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.answeralign {
  margin-top: -30px;
  padding-left: 10px;
}

.resulttitle p {
  display: inline !important;
}

#answers .question-title h4{
    margin-bottom: 2rem;
}

.resulttitle span {
    /* display: inline !important; */
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #a6b1bf;
    color: white;
    font-size: 14px;
    border-radius: 20%;
  }

/*Added 15-04-2019*/


.ib_exam_list>.event-info-title-list.onmyacc {
  padding-top: 18px !important;
}

.event-info-title-list.onmyacc.onmyexam {
  margin-bottom: 15px;
}

.exam_info {
  margin-left: 65px;
  height: 40px;
}

.status_unpublished {
  border-right: none;
  border-left: 10px solid red;
  height: 100%;
  padding: 50px 5px 0 5px;
}

.status_published {
  border-right: none;
  border-left: 10px solid green;
  height: 100%;
  padding: 50px 5px 0 5px;
}

.hidden {
  display: none !important;
}

a.cd-top {
  color: #fff;
  font-size: 1.2em;
}

a.cd-top:hover {
  color: #fff;
  font-size: 1.3em;
  background: #92cc16;
}

.cd-top {
  display: inline-block;
  height: 34px;
  width: 34px;
  position: fixed;
  bottom: 40px;
  left: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  background: #35acff;
  visibility: hidden;
  opacity: 0;
  border-radius: 17px;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  line-height: 32px;
  z-index: 10;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.no-touch .cd-top:hover {
  background-color: #3f6fb6;
  opacity: 1;
}

.buttons-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.buttons-wrapper img{
    vertical-align: initial;
}

.buttons-wrapper .clear-answer,
.buttons-wrapper .next.button-senary,
#toggle-results
{
    box-shadow: unset;
}

.details-end-exam{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.close-dialog-buttons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

 /* iPad Mini in portrait only */
 @media only screen
 and (min-device-width : 744px)
 and (max-device-width : 1059px)
 and (orientation : portrait) {

    .countdown-styled.time_remaining_header{

        padding: 6px 8px !important;
    }

    #exam-app{
        margin-top: 13rem;
    }
    #hover-palette-expand-arrow,
    #hover-palette-expand{
    display: none;
    }

    .details-end-exam{
        justify-content: center;
    }


  }

  /* Ipad Pro */
@media only screen
 and (min-device-width : 768px)
 and (max-device-width : 954px){
    .countdown-styled.time_remaining_header{

        padding: 6px 8px !important;
    }

    #exam-app .row.border-bot,
    #exam-app .row.resulttitle,
    #exam-app .row.action-wrapper{
        flex-wrap: nowrap;
    }

    #exam-app .question-title .row{
        display: block;
    }

 }

/* iPad Mini in portrait only */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

    .countdown-styled.time_remaining_header{

        padding: 6px 8px !important;
    }

    #exam-app{
        margin-top: 13rem;
    }
    #hover-palette-expand-arrow,
    #hover-palette-expand{
        display: none;
    }

    .details-end-exam{
        justify-content: center;
    }

 }



@media only screen and (min-width: 768px) {
  .cd-top {
    left: 20px;
    bottom: 20px;
  }


}

@media only screen and (min-width: 1024px) {
  .cd-top {

    left: 30px;
    bottom: 30px;
  }
}

/* Desktop */

@media screen and (min-width: 768px){
  #exam-container {
      max-width: 680px;
  }
}

@media screen and (min-width: 992px){
  #exam-container {
    max-width: 925px;
  }
}

  @media screen and (min-width: 1200px) {
    #exam-container{
        max-width: 1110px;
    }
  }
  @media screen and (min-width: 1400px) {
    #exam-container{
        max-width: 1250px;
    }
  }
  @media screen and (min-width: 1600px) {
    #exam-container{
        max-width: 1450px;
    }
  }
 



/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {



    .buttons-wrapper button{
        width: 45% !important;

        margin: 0 auto !important;
        margin-bottom: 0.5rem !important;
    }
}

/* Mobile */
@media only screen and (max-device-width: 480px) {

    .countdown-styled.time_remaining_header{

        padding: 4px 8px !important;
    }


    .buttons-wrapper button{
        width: 100% !important;

        margin: 0 auto !important;
        margin-bottom: 0.5rem !important;
    }

    .row .buttons-wrapper{
        padding: 0 1rem;
    }
    .finish-exams{
        display: flex;
    }

    #hover-palette-expand-arrow,
    #hover-palette-expand{
        display: none !important;
    }

    #exam-app{
        margin-top: 15rem;
    }

    .details-end-exam{

        justify-content: center;
    }

    .close-dialog-buttons{
        justify-content: center;
    }

    .btn-exit-exam{
        margin-bottom: 0.5rem
    }
}

@media only screen and (max-width: 360px) {

    #exam-app{
        margin-top: 16rem;
    }

    .details-end-exam{

        justify-content: center;
    }

    .close-dialog-buttons{
        justify-content: center;
    }

    .btn-exit-exam{
        margin-bottom: 0.5rem
    }
}
/* mobile */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 809px) {

    .countdown-styled.time_remaining_header{

        padding: 4px 8px !important;
    }

    .buttons-wrapper button{
        width: 100% !important;

        margin: 0 auto !important;
        margin-bottom: 0.5rem !important;
    }

    .finish-exams{
        display: flex;
    }

    #hover-palette-expand-arrow,
    #hover-palette-expand{
        display: none !important;
    }

}


.finish-exams{
    margin-bottom: 3rem;
}

.question-palette li:nth-child(7n+1) {
  clear: both;
}

.custom-checkbox-no1>[type="checkbox"],
.custom-checkbox-no1>label {
  margin-bottom: 0px !important;
  margin-top: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox-no1>[type="checkbox"]:not(:checked),
.custom-checkbox-no1>[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.custom-checkbox-no1>[type="checkbox"]:not(:checked)+label,
.custom-checkbox-no1>[type="checkbox"]:checked+label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.custom-checkbox-no1>[type="checkbox"]:not(:checked)+label:before,
.custom-checkbox-no1>[type="checkbox"]:checked+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
  width: 24px;
  height: 24px;
  border: 1px solid #3f6fb6;
  background: #fff;
  border-radius: 0px;
}

.custom-checkbox-no1>[type="checkbox"]:not(:checked)+label:after,
.custom-checkbox-no1>[type="checkbox"]:checked+label:after {

  font-family: 'FontAwesome';
  font-size: 18px;
  content: '\f00c';
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 3px;
  color: #3f6fb6;
  xtransition: all .2s;
}

.custom-checkbox-no1>[type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
  transform: scale(0);
}

.custom-checkbox-no1>[type="checkbox"]:checked+label:after {
  opacity: 1;
  transform: scale(1);
}

.custom-checkbox-no1>[type="checkbox"][data-indeterminate]+label:after,
.custom-checkbox-no1>[type="checkbox"][data-indeterminate]+label:after {
  content: '\2212';
  left: 2px;
  opacity: 1;
  transform: scale(1);
}

.custom-checkbox-no1>[type="checkbox"]:disabled:not(:checked)+label:before,
.custom-checkbox-no1>[type="checkbox"]:disabled:checked+label:before {
  box-shadow: none;
  background-color: #eeeeee;
  border-color: #eeeeee;
  cursor: not-allowed;
  opacity: 1;
  color: #dadada;
}

.custom-checkbox-no1>[type="checkbox"]:disabled:checked+label:after {
  color: #dadada;
  cursor: not-allowed;
}

.custom-checkbox-no1>[type="checkbox"]:disabled+label {
  color: #aaa;
  cursor: not-allowed;
}

.custom-checkbox-no1>[type="checkbox"]:checked:focus+label:before,
.custom-checkbox-no1>[type="checkbox"]:not(:checked):focus+label:before {
  border: 1px solid #92cc16;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.custom-checkbox-no1>label:hover:before {
  border: 1px solid #92cc16 !important;
}

.custom-checkbox-no1>[type="checkbox"]:disabled:not(:checked)+label:hover:before,
.custom-checkbox-no1>[type="checkbox"]:disabled:checked+label:hover:before {
  border: 1px solid #92cc16 !important;
}


.custom-checkbox-no1.loginlc>[type="checkbox"]:not(:checked)+label,
.custom-checkbox-no1.loginlc>[type="checkbox"]:checked+label {
  position: relative;
  padding-left: 15px;
  cursor: pointer;
}

.custom-checkbox-no1.loginlc>[type="checkbox"]:not(:checked)+label:before,
.custom-checkbox-no1.loginlc>[type="checkbox"]:checked+label:before {
  content: '';
  position: absolute;
  left: -6px;
  top: 50%;
  margin-top: -8px;
  width: 17px;
  height: 17px;
  border: 1px solid #3f6fb6;
  background: #fff;
  border-radius: 0px;
}

.pad-left-15 {
  padding-left: 15px !important;
}

.custom-checkbox-no1.loginlc>[type="checkbox"]:not(:checked)+label:after,
.custom-checkbox-no1.loginlc>[type="checkbox"]:checked+label:after {
  font-family: 'FontAwesome';
  font-size: 14px;
  content: '\f00c';
  position: absolute;
  top: 58%;
  margin-top: -12px;
  left: -4px;
  color: #3f6fb6;
  xtransition: all .2s;
}


.pass h2 {
  color: green
}

.fail h2 {
  color: red
}

.success-fail-text p {
  font-size: 16px;
  padding: 25px 0px;
}

.share-wrapper p{
    margin-bottom: 3rem;
    color: #2196F3;
    display: inline-flex;
}
.share-wrapper div{
   display: inline-block;
}

.exam-page .linkdein-image-add{
    width: 23px !important;
}

.exam-page .facebook-post-cert,
.exam-page .twitter-post-cert,
.exam-page .linkedin-post{
    margin-left: 0.3rem !important;
}

.score {
  font-weight: bold;
}

.card {

  border: 1px solid green !important;
  border-radius: .25rem;
  line-height: 0;
}

.modal-content h4,
table,
h5 {
  color: black !important;
}

.modal-content .col-form-label {
  color: black !important;
}

.error-hint {
  display: none;
  color: red;
  font-size: inherit;
}

.error {
  display: block;
}



.modal-content th {
  text-align: center !important;
}

.account-menu .event-name{
    /* margin-right: 1rem; */
    vertical-align: sub;
    display: -webkit-inline-box;
}

.account-menu .login-image{
    margin-left: 0.3rem;
}

.account-menu .event-name h5{
    color:white !important;
}

.account-menu .event-name-icon{
    display:inline-block
}

.time_remaining_header label{
    color:#419CFF;
    font-size: 1.2rem
}

.countdown-styled.time_remaining_header{
    background-color: #419CFF;
    font-size: 18px;
    width: fit-content;
    float: right;
    padding: 1px 8px;
}

#timerdiv span{
    color:white;
}

#timerdiv #hours,
#timerdiv #mins,
#timerdiv #seconds{
    font-weight: 700;
}

#header .title-area h1{
    color: white;
    margin-top: 0;
    margin-bottom: 1rem;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.5;
}

/* close exam btn */

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 30px;
    content: ' ';
    height: 33px;
    width: 2px;
    top: -15px;
    background-color: #96c1ff;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

/* END close exam btn */
.questions-wrapper{
    padding-top: 2% !important;
}

.mark_question_details{
    display: flex;
}

.mark_question_details .icon{
    font-size: 30px;
}

.mark_question_details p{
    margin-right: 1rem;
}

.mark_question_details .unanswered .icon{
    color: #a6b1bf;
}
.mark_question_details .text{
    vertical-align: text-bottom;
}

.mark_question_details .answered .icon{
    color: #97d881;
}

.mark_question_details .answer_later .icon{
    color: #ffa500;
}

#ExamFinish{
    border-radius: 0;
    padding: .5rem 3.5rem;
    margin: auto;
}

#pallete_list{
    overflow: auto;
}

#pallete_list span{
    border-radius: 20%;
}

.container1 {
    width:100%;
    border:1px solid gray;
}

.container1:hover {
    width:100%;
    border:2px solid black;
}

.container1 div {
    width:100%;
}
/* .container1 .header1 {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
} */
.container1 .content1 {
    display: block;
    padding : 5px;
    height: 3.3rem;
    overflow: hidden;

    padding-top: 0.5rem;
    padding-right: 3rem;
    padding-left: 1rem;

    cursor: pointer;

    box-shadow: 15px 8px 6.7px 3.28px rgba(15, 15, 15, 0.11);
}
.container1 .content1:hover{
    background-color: #f3f3f3;
}


.container1 .content1.expanded{
    height: auto;
}

#arrow-expanded{
    content: '';
    width: 21px;
    height: 21px;
    display: block;
    background: url('/theme/assets/images/icons/icon-arrow-down.svg') no-repeat center;
    position: absolute;
    right: 24px;
    transition: 300ms all ease;
    top: 1rem;
    cursor: pointer;
}


.button-secondary-previous,
.button-secondary-next{
    background-color: #92cc16;
    width: fit-content;
    border-radius: 0 !important;
}
.button-secondary-previous:hover,
.button-secondary-next:hover{
    background-color: #7bb401;
    border-radius: 0 !important;
}
.button-quinary{
    color: black;
    background-color: none;
    border: 1px solid black !important;
    border-radius: 0 !important;
    margin: 0 auto;
    padding: .375rem 1.2rem;
    padding-top: 0.375rem;
    display: flex;
    align-items: center;
    filter: drop-shadow(9.326px 7.552px 12px rgba(76,76,76,0.19));
    background-color: #ffffff;
    font-size: 22px;
    line-height: 1.2em;
    letter-spacing: 2px;
    color: black;
    text-align: center;
    text-transform: uppercase;
}

.button-quinary:hover {
    filter: drop-shadow(9.326px 7.552px 12px rgba(76,76,76,0.3));
    border-color: black;
    transition: 0.3s ease-in-out;
    color: black;
    background-color: #a6b1bf;
}

.button-senary:hover {
    filter: drop-shadow(9.326px 7.552px 12px rgba(76,76,76,0.3));
    border-color: #f0ad4e;
    transition: 0.3s ease-in-out;
    color: #f0ad4e;
    background-color: #FFEBCF;
}

.button-senary{
    color: #f0ad4e;
    background-color: none;
    border: 1px solid #f0ad4e !important;
    border-radius: 0 !important;
    margin: 0 auto;
    padding: .375rem 1.2rem;
    padding-top: 0.375rem;
    display: flex;
    align-items: center;
    filter: drop-shadow(9.326px 7.552px 12px rgba(76,76,76,0.19));
    background-color: #ffffff;
    font-size: 22px;
    line-height: 1.2em;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.button-quaternary{
    color: #5f9700;
    background-color: none;
    border: 1px solid #5f9700 !important;
    border-radius: 0 !important;
    margin: 0 auto;
    padding: .375rem 1.2rem;
    padding-top: 0.375rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    font-size: 22px;
    line-height: 1.2em;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;

}

.button-quaternary:hover{
    filter: drop-shadow(9.326px 7.552px 12px rgba(76,76,76,0.3));
    background-color: #ffffff;
    border: 1px solid #5f9700;
    color: #5f9700;
    transition: 0.3s ease-in-out;
}

#ExamFinish:disabled{
 border-color: #CBCBCB;
 background-color: #CBCBCB;
}

#submitPassΝο,
#submitPass{
    margin-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

#toggle-results {
    width: auto;
    padding-left: 3rem;
    padding-right: 3rem;
}

