#tabs-icons-text .nav-item {
    margin-bottom: 13px;
}

#tab_inside_tab {
    display: block !important;
    float: left !important;
}

#tab_inside_tab li {
    margin-bottom: 15px;
}

/* Event Edit New */

#event_edit_form #input-status {
    background-color: #5e72e4;
    color: white;
}

#event_edit_form #input-status option {
    background-color: white;
    color: black;
}

.visible-item {
    margin-right: 2px;
}

#event_edit_form #input-delivery {
    background-color: #5e72e4;
    color: white;
}

#event_edit_form #input-delivery option {
    background-color: white;
    color: black;
}

#event_edit_form #input-city_id {
    background-color: #5e72e4;
    color: white;
}

#event_edit_form #input-city_id option {
    background-color: white;
    color: black;
}

.input-icon-wrapper {
    margin: -7px 0;
}

#event_edit_form .input-icon img{
    max-width: 20px;
    max-height: 20px;
}

.bootstrap-classes.ubold.event_info #image-input-button{
    display: none;
}

.visible-item {
    margin-top: 14%;
}

.visible-label {
    position: absolute;
}


#event_edit_form #input-method {
    background-color: #5e72e4;
    color: white;
}

#event_edit_form #input-method option {
    background-color: white;
    color: black;
}

.toggle-btn-inline-text {
    margin-right: 2%;
}

#access-student {
    margin-right: 2%;
}

.form-group .custom-toggle {
    vertical-align: top;
}

.custom-published,
.index-toggle,
.feed-toggle {
    margin-top: 1.5rem;
}

#input-published-input{
    margin-top: 1rem;
}


.input-icon{
    border: none;
}

#event_edit_form #input-syllabus1 {
    background-color: #5e72e4;
    color: white;
}

#event_edit_form #input-syllabus1 option {
    background-color: white;
    color: black;
}

#event_edit_form .select2-selection.select2-selection--single {
    background-color: #5e72e4;
    color: white;
}

#event_edit_form .select2-selection.select2-selection--single option {
    background-color: white;
    color: black;
}

#event_edit_form .course-manager-wrapper .select2-selection__placeholder {
    color: white;
}

/***** Search List *****/
.search {
    display: block !important;
}

.search-list {
    background-color: #fff;
    border-radius: 10px;
}

.search-list li {
    cursor: pointer;
    list-style: none;
}

#newRow,
#newRowEdit {
    margin-top: 20px;
}

li.select2-results__option:empty {
    display: none;
}

.accordion {
    margin-top: 15px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ccc !important;
    border-radius: 0px !important;
    min-height: 46px;
    height: auto;
}

#exp_input {
    display: none;
}

.ticket-card {
    cursor: pointer;
}


.ticket-card:hover {
    box-shadow: 1px 8px 20px #5e72e4;
    -webkit-transition: box-shadow .6s ease-in;
}

.selected_ticket {
    box-shadow: 1px 8px 20px #5e72e4;
    -webkit-transition: box-shadow .6s ease-in;
}

.not_selectable {
    cursor: none !important;
    box-shadow: none !important;
}

#select_ImageModal .modal-dialog {
    max-width: 70% !important;
}

.img_version {
    margin: 30px auto;
    margin-top: 30px;
}

.img_version button {
    margin-top: 20px;
}


#img-upload,
#img-upload1 {
    width: 100%;
    height: 50vh;
    object-fit: scale-down;
}

.status-label {
    display: inline-block;
}

.status-toogle {
    display: inline-block;
    margin-left: 40px;
    vertical-align: middle;
}

.crop-msg {
    display: none;
    padding: 20px;
    color: #6bad07;
}

.form_event_btn {
    text-align: right;
}

.save_event_btn,
.preview_event_btn {
    display: inline-block;
}

.assign-toggle {
    text-align: center;
    margin: auto;
}

#tabs-icons-text-2_inside .modal-dialog {
    max-width: 800px;
}

#tabs-icons-text-3_inside .modal-dialog {
    max-width: 800px;
}

#participants_info {
    margin-top: 50px
}

.none {
    display: none;
}

#participantHr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#profile_image {
    width: 100%;
    height: 50vh;
    object-fit: scale-down;
}

#exam-edit-modal {
    max-width: 60%;
}

.answer-input {
    text-overflow: ellipsis;
}

#fm-additions-cropper {
    display: none;
}

.modal-xl {
    max-width: 90%;
}

.cropper-preview {
    width: 200px !important;
    height: 93px !important;
}


#preview-img-file {
    margin: 0 auto;
}

.w-65,
.w-10,
.w-auto {
    z-index: 1 !important;
}

#img-upload-summary,
#img-upload-benefit {
    width: 20%;
}

#editModalSummary,
#editModal {
    overflow-y: auto;
}

.title-blue-gradien {
    background: linear-gradient(90deg, rgba(63, 111, 182, 1) 0%, rgba(65, 156, 255, 1) 100%);
    color: #ffffff;
    border: none;
}

.isWatching {
    background: #eff7dc !important;
}

#dynamic-link {
    margin-top: 20px;
}

#dynamic-link input {
    margin-top: 10px;
}

.lesson-links-admin input {
    display: inline-block;
    width: 20%;
}

.lesson-links-admin button {
    display: inline-block;
}

#collapseExample {
    margin-bottom: 30px;
}

.personal-info {
    margin-top: 80px;
}

#tab_inside_tab .nav-item {
    padding-right: 1rem;
}

.card.card-stats {
    min-height: 101px;
}

.logo-area {
    float: left;
    padding-top: 10px;
}

.logo-area .logo {
    width: 157px;
    height: 44px;
    position: relative;
    display: block;
    text-indent: -9999px;
    margin-left: -4px;
}

.logo-area .logo:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: url('/theme/assets/images/logo-knowcrunch-seminars-admin-panel.svg') no-repeat center;
    background-size: contain;
    transition: 300ms all ease;
    opacity: 1;
    visibility: visible;
}



.custom-toggle.custom-published-user {
    width: 80px;
}

.custom-toggle.custom-published-user input:checked+.custom-toggle-slider::before {
    background: #5e72e4;
    transform: translateX(51px);
}

.custom-toggle.custom-published-user input:checked+.custom-toggle-slider::after {
    content: attr(data-label-on);
    color: #5e72e4;
    right: auto;
    left: 7px;
}

.custom-toggle.custom-published {
    width: 100px;
}

#event_edit_form .custom-toggle.custom-published {
    width: 120px;
}

#event_edit_form .custom-toggle.index-toggle {
    width: 120px !important;
}

#event_edit_form .custom-toggle.feed-toggle {
    width: 120px !important;
}

#event_edit_form .title {
    color: #324cdd;
}

.custom-toggle.custom-published input:checked+.custom-toggle-slider::before {
    background: #5e72e4;
    transform: translateX(95px);
}

.custom-toggle.custom-published input:checked+.custom-toggle-slider::after {
    content: attr(data-label-on);
    color: #5e72e4;
    right: auto;
    left: 7px;
}



.logo {
    text-shadow: none !important;
}

.answer-types .custom-radio {
    margin-right: 1rem;
}

#select2-instFormControlSelect12-container,
#select2-input-syllabus1-container,
#select2-input-syllabus-container {
    margin: -5px
}

#file-man-main .col-auto {
    margin-bottom: 0.5rem;
}

.sum_ben_icon {
    max-width: 60px;
    max-height: 60px;
}

.topic-header .topic-title {
    display: inline-block;
    width: 50%;
}

.topic-header .topic-action-btn {
    display: inline-block;
    width: 40%;
    text-align: end;
}

/* .custom-select {
    width: 25rem;
} */

.card-version-image {
    display: inline-flex;
    /* width: 60%; */
    float: left;
    margin-right: 10px;

    max-width: 300px;
    max-height: 200px;
}

.card-version-info {
    display: inline-flex;
    width: 35%;
}

.image-version-page {
    margin-top: 6rem;
}

#upload_form {
    margin-top: 1rem;
}


#version-btn {
    text-align: end;
}

.crop-wrap-btn {
    text-align: end;
}

.save-alt-btn {
    margin: auto 0;
}

.mt--10 {
    margin-top: 1.3rem !important;
}

.filter_col {
    margin-bottom: 1rem;
}

.select2-css {
    border: 1px solid #ccc !important;
    border-radius: 0px !important;
    display: block;
    width: 100%;
    height: calc(2.75rem + 2px);
    padding: 0.625rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #8898aa;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 3px 2px rgba(233, 236, 239, 0.05);
    transition: all 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-list-css {
    overflow: scroll;
    max-height: 13rem;
}


#accordionTopicMain .row {
    margin-left: 5px !important;
}

.hidden {
    display: none;
}

#sub_datePicker {
    display: inline-flex;
}





/* #file-man-main {
    height: 68vh !important;
    ;
} */


/* @media (min-height: 693px) {
    #file-man-main {
        height: 100% !important;
    }
} */

@media (min-width: 1200px) {
    #nav-wrapper-user {
        margin-top: 5rem;
    }
}


/* For 1024 Resolution */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
{

}
/* For 1366 Resolution */
@media only screen
and (min-width: 1030px)
and (max-width: 1366px)
{

}

@media only screen
and (min-width: 1370px)
and (max-width: 1605px)
{

}

