#tabs-icons-text .nav-item {
    margin-bottom: 13px;
}

#tab_inside_tab {
    display: block !important;
    float: left !important;
}

#tab_inside_tab li {
    margin-bottom: 15px;
}

/***** Search List *****/
.search {
    display: block !important;
}

.search-list {
    background-color: #fff;
    border-radius: 10px;
}

.search-list li {
    cursor: pointer;
    list-style: none;
}

#newRow,
#newRowEdit {
    margin-top: 20px;
}

.accordion {
    margin-top: 15px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ccc !important;
    border-radius: 0px !important;
}

#exp_input {
    display: none;
}

.ticket-card {
    cursor: pointer;
}


.ticket-card:hover {
    box-shadow: 1px 8px 20px #5e72e4;
    -webkit-transition: box-shadow .6s ease-in;
}

.selected_ticket {
    box-shadow: 1px 8px 20px #5e72e4;
    -webkit-transition: box-shadow .6s ease-in;
}

.not_selectable {
    cursor: none !important;
    box-shadow: none !important;
}

#select_ImageModal .modal-dialog {
    max-width: none !important;
}

.img_version {
    margin: 30px auto;
    margin-top: 30px;
}

.img_version button {
    margin-top: 20px;
}


#img-upload,
#img-upload1 {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.status-label {
    display: inline-block;
}

.status-toogle {
    display: inline-block;
    margin-left: 40px;
    vertical-align: middle;
}

.crop-msg {
    display: none;
    padding: 20px;
    color: #6bad07;
}

.form_event_btn {
    text-align: right;
}

.save_event_btn,
.preview_event_btn {
    display: inline-block;
}

.assign-toggle {
    text-align: center;
    margin: auto;
}

#tabs-icons-text-2_inside .modal-dialog {
    max-width: 650px;
}

#tabs-icons-text-3_inside .modal-dialog {
    max-width: 650px;
}

#participants_info {
    margin-top: 50px
}

.none {
    display: none;
}

#participantHr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#exam-edit-modal {
    max-width: 60%;
}

.answer-input {
    text-overflow: ellipsis;
}

#fm-additions-cropper {
    display: none;
}

.modal-xl {
    max-width: 90%;
}

.cropper-preview {
    width: 200px !important;
    height: 93px !important;
  }


#preview-img-file {
    margin: 0 auto;
}

.w-65, .w-10, .w-auto {
    z-index: 1 !important;
}

#img-upload-summary,
#img-upload-benefit {
    width: -moz-available;
}

#editModalSummary,
#editModal {
    overflow-y:auto;
}

