body
{
    font-family: Open Sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    margin: 0;

    text-align: left;

    color: #525f7f;
    background-color: #f8f9fe;
}
.btn-neutral.btn-documentation{
  color: #2dce89;
}

.checkbox-overflow{
  max-height: 200px;
  overflow: auto;
}

.plan .custom-toggle input:checked + .custom-toggle-slider:before {
  background: #5e72e4;
  transform: translateX(71px);
}

.plan .custom-toggle input:checked + .custom-toggle-slider:after {
  content: attr(data-label-on);
  color: #5e72e4;
  right: auto;
  left: 7px;
}

.plan .custom-toggle {
  width: 100px;
}

.is-flex{
  display: flex;
}

.text-right{
  text-align: right;
}

.excel-button{
  position: absolute;
  right: 20em;
  top: -10px;
}

.toggle-bold{
  width:65px!important;
  left: 30px !important;
  top: 5px!important;
}

.toggle-bold input:checked + .custom-toggle-slider:before{
  transform: translateX(38px)!important;
}

.topic-list select{
  height: 250px !important;
}

.pad-left{
  padding-left: 10px;
}

.input-group-prepend.lesson-select .input-group-text{
  border-right: 1px solid #dee2e6!important;
}

button#move-lesson {
  position: absolute;
  left: 103%;
}


