@import url("https://fonts.googleapis.com/css?family=Lato");

.wrapper {
  text-align: center;
}
.time {
  color: #245DAE;
  font-size: 2em;
  font-weight: bold;
}
.label {
  font-size: 1em;
  display: block;
  color: #aaa;
  margin-top: -0.5rem;
}
