.background-blue_gradient {
    background: linear-gradient(90deg, rgba(63,111,182,1) 0%, rgba(65,156,255,1) 100%);
}
.background-blue_gradient .content-text-area {
    color: #fff;
}

.background-blue {
    background: rgb(48, 114, 202);
}
.background-blue .content-text-area {
    color: #fff;
}

.background-gray {
    background-color: #f0f0f0;
}

.container-fluid {
    padding: 0px !important;
}
.social-share {
    margin-bottom: 0px!important;
}

@media only screen and (max-width: 980px) {
    .menu-desktop {
      display: none!important;
    }
}

@media only screen and (min-width: 981px) {
    .menu-mobile {
      display: none!important;
    }
}

@media only screen and (max-width: 680px) {
    .section-hero.section-hero-small {
        background: none !important;
        height: auto;
    }
    .section-hero.section-hero-small h1 {
        color: #ffffff!important;
    }
}

.grayscale {
    filter: grayscale(1);
    max-width: 108px;
}

.image-grid-hover {
    opacity: 0.7;

    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.image-grid-hover:hover {
    opacity: 1;
}

.logos-carousel-wrapper .owl-stage {
    display: flex;
}
.logos-carousel-wrapper .owl-stage .owl-item {
    align-self: center;
}