.background-blue_gradient {
    background: linear-gradient(90deg, rgb(36 93 174) 0%, rgba(65,156,255,1) 100%);
}
.background-blue_gradient *, .background-blue_gradient .editor-subtitle {
    color: #fff;
}

.background-blue {
    background: rgb(48, 114, 202);
}
.background-blue *, .background-blue .editor-subtitle {
    color: #fff;
}

.background-gray {
    background-color: #f0f0f0;
}

.container-fluid {
    padding: 0px !important;
}
.social-share {
    margin-bottom: 0px!important;
}

@media only screen and (max-width: 980px) {
    .menu-desktop {
      display: none!important;
    }
}

@media only screen and (min-width: 981px) {
    .menu-mobile {
      display: none!important;
    }
}

.section-hero.section-hero-small {
    background-image: none !important;
    background-color: rgb(48, 114, 202);
}

@media only screen and (max-width: 680px) {
    .section-hero.section-hero-small {
        background: none !important;
        height: auto;
    }
    .section-hero.section-hero-small h1 {
        color: #ffffff!important;
    }
}

@media only screen and (min-width: 768px) {
    .section-hero-left {
        padding-right: 50%;
    }
}

.grayscale {
    filter: grayscale(1);
    max-width: 108px;
}

.image-grid-hover {
    opacity: 0.7;

    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.image-grid-hover:hover {
    opacity: 1;
}

.logos-carousel-wrapper .owl-stage {
    display: flex;
}
.logos-carousel-wrapper .owl-stage .owl-item {
    align-self: center;
}

.vm--modal {
    overflow-y: hidden!important;
}

.form-default {
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
    max-width: none!important;
}
.form-overlap {
    margin-top: -170px!important;
    margin-bottom: 20px!important;
}

@media only screen and (max-width: 767px) {
    .form-overlap {
        margin-top: 0px!important;
    }
}

.book-ticket-boxes.justify-content-end-2 {
    justify-content: flex-end;
}
.book-ticket-boxes.justify-content-start-2 {
    justify-content: flex-start;
}

@media only screen and (max-width: 767px) {
    .book-ticket-boxes {
        justify-content: center!important;
    }
}

/* .text-editor-blockquote blockquote {
    border-left: 5px solid #419cff;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px 130px 20px 30px;
    font-size: 22px;
} */

.text-editor-blockquote blockquote p {
    border-left: 5px solid #419cff;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px 130px 20px 30px;
    font-size: 22px;
}
.text-editor-blockquote blockquote {
    margin-left: 0px;
}

.cms-rich-text-editor li {
    list-style: disc!important;
}
.cms-rich-text-editor ul {
    display: block!important;
    list-style-type: disc!important;
    margin-block-start: 1em!important;
    margin-block-end: 1em!important;
    margin-inline-start: 0px!important;
    margin-inline-end: 0px!important;
    padding-inline-start: 40px!important;
}

@media only screen and (max-width: 680px) {
    .dynamic-header {
        margin-top: 50px;
    }
}

.fluid-width-video-wrapper iframe {
    width: 100%!important;
    height: 100%!important;
}
.section-course-tabs .course-full-text .location-map-wrapper > iframe {
    width: 100%!important;
    height: 100%!important;
}

@media only screen and (max-width: 1200px) {
    .tabs-container {
        margin-left: 0px!important;
        margin-right: 0px!important;
        max-width: 100%!important;
    }
}

.section-course-tabs .content-wrapper .tabs-wrapper .tabs-content .tab-content-wrapper .course-tab-text {
    width: 100%;
    max-width: initial;
}

.cart-number-mobile {
    position: relative;
    background: red;
    color: white;
    border-radius: 68px;
    padding: 1px;
    text-align: center;
    font-size: 15px;
    width: 21px;
    height: 21px;
    display: inline-block;
    margin-left: 5px;
    left: initial;
    top: initial;
}

.editor-subtitle {
    font-size: 26px;
    color: #5b5b5b;
}

.blog-list-title * {
    color: initial;
}
.blog-list-title>a>h2 {
    font-size: 19px !important;
    font-weight: 700 !important;
    text-decoration: none !important;
}

/* homepage events - start */
.homepage-events .section-text-carousel,
.homepage-events .carousel-column,
.homepage-events .carousel-wrapper,
.homepage-events .boxes-carousel,
.homepage-events .owl-stage-outer,
.homepage-events .owl-stage,
.homepage-events .owl-item {
    width: 100%!important;
    height: 100%!important;
    padding: 0px!important;
    margin: 0px!important;
}
.homepage-events>div  {
    text-align: center;
}
@media (min-width: 576px) and (max-width: 991px) {
    .homepage-events>div:nth-child(2n+1) {
        text-align: left;
    }
    .homepage-events>div:nth-child(2n+2){
        text-align: right;
    }
}
@media (min-width: 991px) {
    .homepage-events>div:nth-child(3n+1) {
        text-align: left;
    }
    .homepage-events>div:nth-child(3n+2){
        text-align: center;
    }
    .homepage-events>div:nth-child(3n+3){
        text-align: right;
    }
}
.homepage-events .slide {
    height: 100%;
    background-color: #fff!important;
    width: 100%!important;
    max-width: 271px;
    box-shadow: 2px 2px 18.04px 3.96px rgb(127 127 127 / 14%);
    transform: translate3d(0px, 0px, 0px);
}
.homepage-events .box-text {
    margin-bottom: 80px;
}
.homepage-events .box-footer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.homepage-events .slide{ width: 271px; background-color: #419cff; }
.homepage-events .active .slide{ box-shadow: 2px 2px 18.04px 3.96px rgba(127, 127, 127, 0.14); }
.homepage-events .slide img{ display: block; width: 100%; transition: 300ms all ease; }
.homepage-events .slide > a:hover > img{ opacity: .7; }
.homepage-events .slide .box-text{ padding: 30px 38px 22px; background-color: #ffffff; position: relative; text-align: center; }
.homepage-events .slide .box-text:before{ content: ''; width: 100%; height: 8px; display: block; position: absolute; top: 0; left: 0; background: rgb(36 93 174); background: rgb(65,156,255); background: linear-gradient(90deg, rgb(36 93 174) 0%, rgba(65,156,255,1) 100%); }
.homepage-events .slide .box-text h3{ font-size: 18px; }
.homepage-events .slide .box-text h3 a{ color: #000000; text-decoration: none; }
.homepage-events .slide .box-text h3 a:hover{ color: #000000; text-decoration: underline; }
.homepage-events .slide .box-text .location{letter-spacing: 1px;font-size: 12px;color: #81be00;display: block;line-height: 1.2;margin-bottom: 0;text-transform: uppercase;}
.homepage-events .slide .box-text .location:hover{color: #5b8600;}
.homepage-events .slide .box-text .hours,
.homepage-events .slide .box-text .language,
.homepage-events .slide .box-text .certificate,
.homepage-events .slide .box-text .students,
.homepage-events .slide .box-text .dates,
.homepage-events .slide .box-text .date,
.homepage-events .slide .box-text .days,
.homepage-events .slide .box-text .times,
.homepage-events .slide .box-text .elearning
{ letter-spacing: 1px; font-size: 12px; text-transform: uppercase; color: #ff9000; display: block; margin-bottom: 12px; }
.homepage-events .slide .box-text .btn{ font-size: 13px; }

@media (min-width: 990px) and (max-width: 1200px) {
    .homepage-events .col-md-3 {
        width: 33.3333333333333333%!important;
    }
}
@media (min-width: 576px) and (max-width: 990px) {
    .homepage-events .col-md-3 {
        width: 50%!important;
    }
}
@media (max-width: 576px) {
    .homepage-events .slide {
        max-width: 100%;
    }
}

.homepage-events .box-text.box-text-orange:before {
    background: linear-gradient(90deg, rgba(255,120,0,1) 0%, rgba(255,155,52,1) 16%, rgba(255,189,103,1) 100%);
}
/* homepage events - end */

.course-list-item-green:before {
    background: #92cc16!important;
}
.course-list-item-green>.row {
    width: 100%;
}
.course-list-item-green .list2-image>img {
    max-height: 111px;
}
.dynamic-courses-wrapper .item {
    padding-bottom: 40px!important;
}

.blog-list-pagination nav {
    justify-content: end;
    display: flex;
}


.footer-small {
    padding-top: 40px!important;
    padding-bottom: 40px!important;
}

.knowledge-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.knowledge-card:hover {
    border-style: solid;
    border-width: 1px;
    -webkit-box-shadow: 0 0 0 1px #7fd1de, 0 0 12px 0 #3072ca;
    box-shadow: 0 0 0 1px #7fd1de, 0 0 12px 0 #3072ca;
}
.knowledge-card-image {
    height: 80px;
    margin: 10px;
}
.knowledge-card .card-body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 12px;
    padding-top: 20px;
}
.knowledge-card a:not(.btn), .knowledge-card a:not(.btn):visited, .knowledge-card a:not(.btn):hover, .knowledge-card a:not(.btn):active {
    color: initial!important;
    text-decoration: none !important;
}
.knowledge-card-column {
    height: 270px;
}
.knowledge-card, .knowledge-card a, .knowledge-card .card-body {
    height: 100%;
}
.knowledge-card-title {
    font-weight: bold;
}

footer {
    margin-top:auto;
}
.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 980px) {
    .hide-on-mobile {
      display: none!important;
    }
}

.instructor-profile .avatar-wrapper .avatar2 {
    margin-bottom: 25px;
    border-radius: 100%;
    object-fit: cover;
}

.video-testimonials .owl-nav button.owl-prev {
    left: 0;
}
.video-testimonials .owl-nav button.owl-next {
    right: 0;
}
.video-testimonials .owl-nav button {
    position: absolute;
    z-index: 2;
    top: 35%;
    transform: translateY(-50%);
    width: 17px;
    height: 32px;
    display: block;
    outline: none;
}
.video-testimonials .owl-carousel {
    width: 100%;
    padding: 10px 40px 45px;
    overflow: hidden;
    position: relative;
}
.written-testimonials .owl-nav button {
    top: 270px;
}
.written-testimonials.user-testimonial-wrapper {
    padding: 98px 45px 110px;
}
.written-testimonials .testimonial-box {
    padding: 0 80px;
}
.written-testimonials .author-infos {
    text-align: center;
}
.written-testimonials .author-img {
    display: block;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    margin: 0 auto 28px;
    box-shadow: 6px 5px 6.64px 1.36px rgb(76 76 76 / 15%);
    border: 3px solid #ffffff;
    overflow: hidden;
}
.written-testimonials .author-name {
    display: block;
    font-size: 20px;
    color: #ffffff;
    line-height: 1.2;
    margin-bottom: 5px;
}
.written-testimonials .author-job {
    display: block;
    font-size: 15px;
    color: #b2d7ff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.written-testimonials svg path {
    stroke: #c8c8c8 !important;
}
.written-testimonials .testimonial-text {
    text-align: center;
    margin-top: 25px;
}

.section-hero-small-no-image {
    height: 140px;
}

.video-carousel-big .testimonial-box .author-infos{
    margin-top: 0.5rem;
}

.text-muted {
  color: #989b9c !important;
}

.text-primary {
  color: #419cff !important;
}

.heading-small {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: .8rem;
  letter-spacing: .04em;
}

#header h1.logo-area{ padding-bottom: 0px; }

.cms-page-header h1 {
  margin-bottom: 0;
}
