@font-face {
    font-family: 'Foco';
	    src: url('/theme/assets/fonts/Foco_W_Lt.eot');
	    src: url('/theme/assets/fonts/Foco_W_Lt.eot?#iefix') format('embedded-opentype'),
	        url('/theme/assets/fonts/Foco_W_Lt.woff2') format('woff2'),
	        url('/theme/assets/fonts/Foco_W_Lt.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}


#tinymce h1 {
    font-size: 50px;
}

#tinymce h2 {
    font-size: 44px;
}

#tinymce h3 {
    font-size: 38px;
}

#tinymce h4 {
    font-size: 32px;
}

#tinymce h5 {
    font-size: 26px;
}

#tinymce h6 {
    font-size: 20px;
}

#tinymce h1,
#tinymce h2,
#tinymce h3,
#tinymce h4,
#tinymce h5,
#tinymce h6 {
    font-weight: 300;
    margin: 0;
    line-height: 1.2;
    padding: 0;
    margin-bottom: 20px;
}

#tinymce p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.5;
}

#tinymce {
    font-family: 'Foco';
    font-weight: 300;
}
