.datepicker-dropdown{
    position: absolute;
    background: white;
}
    .datepicker {
     
        border-radius: 0.375rem;
        direction: ltr; }
        .datepicker-inline {
          width: 220px; }
        .datepicker-rtl {
          direction: rtl; }
          .datepicker-rtl.dropdown-menu {
            left: auto; }
          .datepicker-rtl table tr td span {
            float: right; }
        .ui-datepicker-calendar {
          top: 0;
          left: 0;
          padding: 20px 22px;
          box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1); }
          .datepicker-dropdown.datepicker-orient-left:before {
            left: 6px; }
          .datepicker-dropdown.datepicker-orient-left:after {
            left: 7px; }
          .datepicker-dropdown.datepicker-orient-right:before {
            right: 6px; }
          .datepicker-dropdown.datepicker-orient-right:after {
            right: 7px; }
          .datepicker-dropdown.datepicker-orient-bottom:before {
            top: -7px; }
          .datepicker-dropdown.datepicker-orient-bottom:after {
            top: -6px; }
          .datepicker-dropdown.datepicker-orient-top:before {
            bottom: -7px;
            border-bottom: 0;
            border-top: 7px solid white; }
          .datepicker-dropdown.datepicker-orient-top:after {
            bottom: -6px;
            border-bottom: 0;
            border-top: 6px solid #fff; }
        .datepicker table {
          margin: 0;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none; }
          .datepicker table tr td {
            border-radius: 50%; }
          .datepicker table tr th {
            border-radius: 0.375rem;
            font-weight: 500; }
          .datepicker table tr td,
          .datepicker table tr th {
            transition: all 0.15s ease;
            width: 36px;
            height: 36px;
            border: none;
            text-align: center;
            font-size: 0.875rem; }
        .table-striped .datepicker table tr td,
        .table-striped .datepicker table tr th {
          background-color: transparent; }
        .datepicker table tr td.old, .datepicker table tr td.new {
          color: #adb5bd; }
        .datepicker table tr td.day:hover, .datepicker table tr td.focused {
          background: white;
          cursor: pointer; }
        .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
          background: none;
          color: #dee2e6;
          cursor: default; }
        .datepicker table tr td.highlighted {
          border-radius: 0; }
          .datepicker table tr td.highlighted.focused {
            background: #5e72e4; }
          .datepicker table tr td.highlighted.disabled, .datepicker table tr td.highlighted.disabled:active {
            background: #5e72e4;
            color: #ced4da; }
        .datepicker table tr td.today {
          background: white; }
          .datepicker table tr td.today.focused {
            background: white; }
          .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:active {
            background: white;
            color: #8898aa; }
        .datepicker table tr td.range {
          background: #5e72e4;
          color: #fff;
          border-radius: 0; }
          .datepicker table tr td.range.focused {
            background: #3b53de; }
          .datepicker table tr td.range.disabled, .datepicker table tr td.range.disabled:active, .datepicker table tr td.range.day.disabled:hover {
            background: #324cdd;
            color: #8a98eb; }
        .datepicker table tr td.range.highlighted.focused {
          background: #cbd3da; }
        .datepicker table tr td.range.highlighted.disabled, .datepicker table tr td.range.highlighted.disabled:active {
          background: #e9ecef;
          color: #dee2e6; }
        .datepicker table tr td.range.today.disabled, .datepicker table tr td.range.today.disabled:active {
          background: #5e72e4;
          color: #fff; }
        .datepicker table tr td.day.range-start {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
        .datepicker table tr td.day.range-end {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0; }
        .datepicker table tr td.day.range-start.range-end {
          border-radius: 50%; }
        .datepicker table tr td.selected, .datepicker table tr td.selected.highlighted, .datepicker table tr td.selected:hover, .datepicker table tr td.selected.highlighted:hover, .datepicker table tr td.day.range:hover {
          background: #5e72e4;
          color: #fff; }
        .datepicker table tr td.active, .datepicker table tr td.active.highlighted, .datepicker table tr td.active:hover, .datepicker table tr td.active.highlighted:hover {
          background: #5e72e4;
          color: #fff;
          box-shadow: none; }
        .datepicker table tr td span {
          display: block;
          width: 23%;
          height: 54px;
          line-height: 54px;
          float: left;
          margin: 1%;
          cursor: pointer;
          border-radius: 4px; }
          .datepicker table tr td span:hover, .datepicker table tr td span.focused {
            background: #e9ecef; }
          .datepicker table tr td span.disabled, .datepicker table tr td span.disabled:hover {
            background: none;
            color: #dee2e6;
            cursor: default; }
          .datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover {
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
          .datepicker table tr td span.old, .datepicker table tr td span.new {
            color: #8898aa; }
        .datepicker .datepicker-switch {
          width: 145px; }
        .datepicker .datepicker-switch,
        .datepicker .prev,
        .datepicker .next,
        .datepicker tfoot tr th {
          cursor: pointer; }
          .datepicker .datepicker-switch:hover,
          .datepicker .prev:hover,
          .datepicker .next:hover,
          .datepicker tfoot tr th:hover {
            background: #e9ecef; }
        .datepicker .prev.disabled,
        .datepicker .next.disabled {
          visibility: hidden; }
        .datepicker .cw {
          font-size: 10px;
          width: 12px;
          padding: 0 2px 0 5px;
          vertical-align: middle; }
    